<div class="col-md-12">
    <h3>{{title}}</h3>

    <div class="alert-success" *ngIf="status == 'success'">
        Te has registrado correctamente, logueate <a [routerLink]="['/login']">aquí</a>
    </div>

    <div class="alert-danger" *ngIf="status == 'error'">
        No te has registrado correctamente
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset();" class="col-md-7 noPadding">
        <div>
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="user.name" required>
            <span *ngIf="!name.valid && name.touched">El nombre no es válido</span>
        </div>

        <div>
            <label for="surname">apellidos</label>
            <input type="text" class="form-control" name="surname" id="surname" #surname="ngModel" [(ngModel)]="user.surname" required>
            <span *ngIf="!surname.valid && surname.touched">Los apellidos no son válidos</span>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="user.email" required>
            <span *ngIf="!email.valid && email.touched">El email no es válido</span>
        </div>

        <div>
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password" #password="ngModel" [(ngModel)]="user.password" required>
            <span *ngIf="!password.valid && password.touched">La contraseña no es válida</span>
        </div>

        <input type="submit" value="registrarse" class="btn btn-success" [disabled]="!registerForm.form.valid">
    </form>
</div>



